@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:is(.dark *));

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
/* @config "../tailwind.config.ts"; */
@variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  /* Define breakpoints for responsive design */
  --screen-xs: 475px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  /* Font Families */
  --font-work-sans:
    [ "var(--font-work-sans)"], /* Colors */ --color-primary-0: #ffe8f0;
  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;
  --color-secondary: #fbe843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black: #000000;
  /* --color-black-300: #7d8087; */
  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  /* Border Radii */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Box Shadows */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* @layer utilities { */
@utility flex-between {
  @apply flex justify-between items-center;
}

@utility text-30-extrabold {
  @apply text-[30px] font-extrabold text-white;
}

@utility text-30-bold {
  @apply text-[30px] font-bold text-black;
}

.text-30-semibold {
  @apply font-semibold text-[30px] text-black;
}

.text-26-semibold {
  @apply font-semibold text-[26px] text-black;
}

.text-24-black {
  @apply text-[24px] font-black text-black;
}

.text-20-medium {
  @apply font-medium text-[20px] text-black;
}

.text-16-medium {
  @apply font-medium text-[16px] text-black;
}

.text-14-normal {
  @apply font-normal text-sm text-white-100/80;
}

.pink_container {
  @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
}

.tag {
  @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
}

.heading {
  @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
}

.sub-heading {
  @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
}

.section_container {
  @apply px-6 py-10 max-w-7xl mx-auto;
}

.card_grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
}

.card_grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
}

.no-result {
  @apply text-black-100 text-sm font-normal;
}

/* profile */
.profile_container {
  @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
}

.profile_card {
  @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
}

.profile_title {
  @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
}

.profile_image {
  @apply rounded-full object-cover border-[3px] border-black;
}

/* idea details */
.divider {
  @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
}

.view_skeleton {
  @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-8 right-8;
}

/* navbar */
@utility avatar {
  @apply p-0 focus-visible:ring-0 bg-none rounded-full !drop-shadow-md;
}

@utility dropdown-menu {
  @apply w-56 border-[5px] border-black bg-white p-5 !rounded-2xl;
}

@utility login {
  @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-work-sans font-medium hover:shadow-none transition-all !duration-500;
}

/* searchform */
.search-form {
  @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
}

.search-input {
  @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
}

.search-btn {
  @apply size-[50px] rounded-full bg-black flex justify-center !items-center;
}

/* startupcard */
@utility startup-card {
  @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
}

.startup-card_date {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
}

.startup-card_desc {
  @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
}

.startup-card_img {
  @apply w-full h-[164px] rounded-[10px] object-cover;
}

.startup-card_btn {
  @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 !py-3;
}
.startup-card_options {
  @apply rounded-full font-medium text-white cursor-pointer;
}
.startup-card_edt {
  @apply bg-black-200;
}
.startup-card_dlt {
  @apply bg-red-600;
}
.startup-card_skeleton {
  @apply w-full h-96 rounded-[22px] bg-zinc-400;
}

/* startupform */
.startup-form {
  @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
}

.startup-form_label {
  @apply font-bold text-[18px] text-black uppercase;
}

/* !placeholder:text-black-300 */
@utility startup-form_input {
  @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 !placeholder-black-300;
}

@utility startup-form_textarea {
  @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 !placeholder-black-300;
}

.startup-form_error {
  @apply text-red-500 mt-2 ml-5;
}

@utility startup-form_editor {
  @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold !placeholder-black-300;
}

@utility startup-form_btn {
  @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold !text-[18px];
}

/* view */
.view-container {
  @apply flex justify-end items-center mt-5 fixed bottom-8 right-8;
}

.view-text {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
}

.category-tag {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
}

@utility tag-tri {
  @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
}
/* } */
@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

@utility w-md-editor-toolbar {
  padding: !10px;
}

/* :root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
